
.hero-main {
    background-color: #27292a;
    color: white;
    border-radius: 25px;
    padding: 50px;
}

.hero-text {
    max-width: 500px;
}

.hero-title{
    font-size: 60px;
    text-transform: uppercase;
    margin-bottom: 25px;
    font-weight: 900;
}