
.cybrog-navbar {
    margin-bottom: 1rem;
    min-height: 100px;
    background-color:var(--color-dark);
    color:var(--color-light);
    
}
.main-navbar{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.white-text{
    background-color: var(--color-light);
    
}
.navigation{
    color: var(--color-light);
    padding: 10px;
    margin: 0px 5px;
}

.navigation:hover{
    color:var(--color-primary) ;
}
